<div class="sidebar-nav navbar-collapse">
    <div style="margin-bottom: 10px; margin-top:5px;" class="border-bottom">
        <span class="custom-page-header" style="margin-left:15px !important;">Accounts</span>
        <span class="pull-right" style="margin:12px 10px 10px 5px;"><a ng-click="setNav('mainNav')" class="fake-a"><i class="fa fa-arrow-circle-left"></i> BACK</a></span>
    </div>

    <ul class="nav" id="side-menu" metis-menu>
        <li>
            <a ng-href="#">Preferences<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#/preference-definitions">Definitions</a>
                </li>
                <li>
                    <a href="#/preference-values">Values</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>

        <li>
            <a href="#">Miscellaneous<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#/templates">Templates</a>
                </li>
                <li>
                    <a href="#/inventory-valuation-summary">Integrations</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>

        <li>
            <a href="#">Activity<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li><a href="#/system-mails">System Mails</a></li>
                <li><a href="#/activity-logs">Activity Logs</a></li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
    </ul>
</div>