<div class="sidebar-nav navbar-collapse">
    <ul class="nav" metis-menu>
        <li>
            <a href="#!/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
        </li>
    </ul>    

    <div style="margin-top:5px;" class="border-bottom">
        <span class="custom-page-header" style="margin-left:15px !important;">Complex Modules</span>
    </div>

    <ul class="nav" metis-menu>
        <li>
            <a class="fake-a" ng-href="" ng-click="setNav('setupNav')"><i class="fa fa-cogs fa-fw"></i> Module 1</span></a>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a class="fake-a" ng-href="" ng-click="setNav('membershipNav')"><i class="fa fa-bank fa-fw"></i> Module 2</a>
        </li>

        <li>
            <a class="fake-a" ng-href="" ng-click="setNav('pensionsNav')"><i class="fa fa-truck fa-fw"></i> Module 3</a>
        </li>

        <li>
            <a class="fake-a" ng-href="" ng-click="setNav('accountsNav')"><i class="fa fa-calculator fa-fw"></i> Module</a>
        </li>
    </ul>

    <div style="margin-top:5px;" class="border-bottom">
        <span class="custom-page-header" style="margin-left:15px !important;">Simple Navs</span>
    </div>

    <ul class="nav" metis-menu>
        <li>
            <a href="#"><i class="fa fa-money fa-fw"></i> Tasks<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#!/my-tasks">My Tasks</a>
                </li>
                <li>
                    <a href="#!/all-tasks">Other Tasks</a>
                </li>
                <!--<li><a href="#/recurring-expenses">Recurring expenses</a></li>-->
            </ul>
            <!-- /.nav-second-level -->
        </li>

        <li>
            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Notifications</span></a>
        </li>
        <li>
            <a href="#!/report-dashboard"><i class="fa fa-pie-chart fa-fw"></i> Reports</a>
        </li>
        <li>
            <a href="" ng-click="setNav('preferenceNav')"><i class="fa fa-sliders fa-fw"></i> Preferences</a>
        </li>
    </ul>
</div>