<div class="sidebar-nav navbar-collapse">
    <div>
        <span class="custom-page-header" style="margin-left:18px !important;">Reports</span>
        <span class="pull-right" style="margin:12px 20px 10px 5px;"><a ng-click="setNav('mainNav')" class="fake-a"><i class="fa fa-arrow-circle-left"></i> BACK</a></span>
    </div>

    <ul class="nav" id="side-menu" metis-menu>
        <li>
            <a href="#">Business Overview<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#/profit-and-loss">Profit and Loss</a>
                </li>
                <!--<li>
                    <a href="#/cashflow-statement">Cash Flow Statement</a>
                </li>-->
                <li>
                    <a href="#/balance-sheet">Balance Sheet</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>

        <li>
            <a href="#">Accounts<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#/account-transactions">Account Transactions</a>
                </li>
                <li>
                    <a href="#/general-ledger">General Ledger</a>
                </li>
                <li>
                    <a href="#/ledger-statement">Ledger Statement</a>
                </li>
                <li>
                    <a href="#/journal-report">Journal Report</a>
                </li>
                <li>
                    <a href="#/trial-balance">Trial Balance</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>

        <li>
            <a href="#">Sales<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#/sales-by-customer">Sales by Customer</a>
                </li>
                <li>
                    <a href="#/sales-by-item">Sales by Item</a>
                </li>
                <li>
                    <a href="#/sales-by-person">Sales by Person</a>
                </li>
                <li>
                    <a href="#/sales-by-retail-shop">Sales by Retail Shop</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>

        <li>
            <a href="#">Inventory<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#/inventory-summary">Summary</a>
                </li>
                <li>
                    <a href="#/inventory-valuation-summary">Valuation Summary</a>
                </li>
                <li>
                    <a href="#/margin-markup-master">Margin/Markup(Master)</a>
                </li>
                <li>
                    <a href="#/margin-markup-retail">Margin/Markup(Retail)</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="#">Receivables<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#/customer-balances">Customer Balances</a>
                </li>
                <li>
                    <a href="#/aging-summary">Aging Summary</a>
                </li>
                <li>
                    <a href="#/aging-details">Aging Details</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="#">Payments<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#/payments-received-report">Payments Received</a>
                </li>
                <li>
                    <a href="#/credit-note-report">Credit Note Details</a>
                </li>
                <!--<li>
                    <a href="#/refund-history">RefundIssued History</a>
                </li>-->
                <li>
                    <a href="#/payments-made-report">Payments Made</a>
                </li>
                <li>
                    <a href="#/debit-note-report">Debit Note Details</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>

        <li>
            <a href="#">Payables<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#/vendor-balances">Supplier Balances</a>
                </li>
                <li>
                    <a href="#/vendor-aging-summary">Aging Summary</a>
                </li>
                <li>
                    <a href="#/vendor-aging-details">Aging Details</a>
                </li>

            </ul>
            <!-- /.nav-second-level -->
        </li>

        <li>
            <a href="#">Purchases<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#/purchases-by-vendor">Purchases by Vendor</a>
                </li>
                <li>
                    <a href="#/purchases-by-item">Purchases by Item</a>
                </li>
                <li>
                    <a href="#/purchases-by-retail-shop">Purchases By Retail Shop</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>

        <li>
            <a href="#">Expenses<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#/expense-details">Expense Details</a>
                </li>
                <li>
                    <a href="#/expense-by-category">Expenses by Category</a>
                </li>
                <!--<li>
                    <a href="#/expenses-by-item">Expenses by Item</a>
                </li>
                <li>
                    <a href="#/expenses-by-customer">Expenses by Customer</a>
                </li>-->
            </ul>
            <!-- /.nav-second-level -->
        </li>

        <li>
            <a href="#">Taxes<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#/tax-summary">Tax Summary</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>

        <!--<li>
            <a href="#">Projects & Timesheets<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#/project-summary">Project Summary</a>
                </li>
                <li>
                    <a href="#/project-details">Project Details</a>
                </li>
                <li>
                    <a href="#/sales-orders">Timesheet Details</a>
                </li>
            </ul>
            &lt;!&ndash; /.nav-second-level &ndash;&gt;
        </li>-->

        <li>
            <a href="#">Currency<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li><a href="#/realized-gain-loss">Realized Gain/Loss</a></li>
                <li><a href="#/unrealized-gain-loss">Unrealized Gain/Loss</a></li>
            </ul>
            <!-- /.nav-second-level -->
        </li>

        <li>
            <a href="#">Activity<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li><a href="#/system-mails">System Mails</a></li>
                <li><a href="#/activity-logs">Activity Logs</a></li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
    </ul>
</div>