<div class="auth-page" ng-controller="SignupCtrl">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 col-md-offset-3 col-xs-12">
        <h1 class="text-xs-center">Sign Up</h1>
        <p class="text-xs-center">
          <a href="#!/signin">Have an account?</a>
        </p>

<!--         <ul class="error-messages">
          <li>That email is already taken</li>
        </ul> -->

        <form>
          <fieldset class="form-group">
            <input class="form-control form-control-lg" ng-model="user.username" type="text" placeholder="Your Name">
          </fieldset>
          <fieldset class="form-group">
            <input class="form-control form-control-lg" ng-model="user.email" type="text" placeholder="Email">
          </fieldset>
          <fieldset class="form-group">
            <input class="form-control form-control-lg" ng-model="user.password" type="password" placeholder="Password">
          </fieldset>
          <button class="btn btn-lg btn-primary pull-xs-right" ng-click="signup(user)">
            Sign up
          </button>
        </form>
      </div>

    </div>
  </div>
</div>